.btn {
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3%;
    padding: 12px 25px;
    transition: 1s all;
    &:hover {
        transition: 1s all;
        box-shadow: 0 0 15px rgba(0,0,0,0.8);
    }
}